<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student Register</h2>
    <form id="control-form" method="POST">
        <div id="student-attributes">
            <input id="input-regNo" name="regNo" type="text" placeholder="Enter Register Number">
            <input id="input-name" name="name" type="text" placeholder="Enter Student Name">
            <select id="input-dept" name="dept">
                <option value="">Select Department</option>
                <option value="CT">CT</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>
                <option value="ROBOTICS">ROBOTICS</option>
            </select>
            <select id="input-regType" name="regType">
                <option value="" >Select Type of Registration</option>
                <option value="R">Regular</option>
                <option value="S">Self Supporting</option>
                <option value="L">Lateral</option>
            </select>
            <select id="input-isVerified" name="isVerified">
                <option value="" >NULL</option>
                <option value="Y">Verified</option>
                <option value="N">Not Verified</option>
            </select>
        </div>
        <div>
            <button id="find-button" type="submit" onclick="setAction('/find-records')">Find Students</button>
            <button id="add-button" type="submit" onclick="setAction('/add-records'); return formValidation();">Add Student</button>
        </div>
        <div>
            <button id="verification-button" type="submit" onclick="setAction('/update-verification')">Update Verification</button>
        </div>
    </form>

    <% if (student_records.length > 0) { %>
        <h2>Search Results:</h2>
        <table border="1">
            <tr>
                <th>Register Number</th>
                <th>Name</th>
                <th>Department</th>
                <th>Registration Type</th>
                <th>Verification Status</th>
            </tr>
            <% student_records.forEach(record => { %>
                <tr>
                    <td><%= record[0] %></td>
                    <td><%= record[1] %></td>
                    <td><%= record[2] %></td>
                    <td><%= record[3] %></td>
                    <td><%= record[4] %></td>
                </tr>
            <% }); %>
        </table>
    <% } %>
    <p id="error-message" style="color: darkred;"></p>


    <script>
        function setAction(action) {
            document.getElementById("control-form").action = action;
        }

        function formValidation() {
            let regNo = document.getElementById("input-regNo").value.trim();
            let name = document.getElementById("input-name").value.trim();
            let dept = document.getElementById("input-dept").value;
            let regType = document.getElementById("input-reType").value;
            let isVerified = document.getElementById("input-isVerified").value;

            if (!regNo || !name || !dept || !regType || !isVerified) {
                document.getElementById("error-message").innerText = "All Fields Required";
                return false; //Prevents Form Submission
            }
            else
                return true;
        }
    </script>
</body>
</html>